* {
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #FFF8F3;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;
    margin-right: 230px;
    align-items: center;


}

nav li {
    list-style: none;
    padding: 50px;

}

.nav-title {
    margin-left: 230px;

}

.nav-btn {
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
}

.banner-btn {
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border-color: #FD6E0A;
}

.banner {
    background-color: #FFF8F3;
    height: 569px;
    display: flex;
    align-items: center;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 735px;
}

.banner-left {
    margin-left: 230px;
}

img {
    height: 573px;
}

.about-me {
    width: 1170px;
    height: 550px;
    border-radius: 10px;
    background: #FFF8F3;
    margin-left: 170px;
    margin-top: 160px;
}

.about-me-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 120px;

}

.about-me-pera {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.info {
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
}

.what-i-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 100px;

}

.what-i-pera {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    align-items: center;
}

.what-i-do-info {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 70px;
}

.what-i-do-info-box {
    width: 267px;
    height: 277px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding-top: 35px;
    padding-left: 35px;
    margin-left: 35px;
    margin-right: 60px;
}

.summary {
    display: flex;
    justify-content: space-around;
}

.summary-title {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 120px;
    font-size: 35px;
    font-weight: 700;
}

.dwn-cv-btn {
    width: 170px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    margin-left: 50%;
    margin-top: 50px;
}

.gradiant {
    margin-left: 200px;
    background-repeat: no-repeat;
    width: 1000px;
    height: 290px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url(../images/watch.png);
    border-radius: 8px;
    margin-bottom: 110px;
    padding-left: 110px;
    padding-top: 2px;
}

.gradiant-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;

}

.practice {
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.footer {
    width: 100%;
    height: 710px;
    background: #FFF8F3;
    display: flex;
}

.footer-title {
    color: var(--Dark-01, #181818);

    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer-icon {
    width: 24px;
    height: 24px;
    display: flex;
}

.footer-left {
    padding-left: 130px;
    padding-top: 130px;
    padding-right: 130px;
}

.footer-right {
    padding-top: 140px;

}

.footer-form {
    margin-top: 15px;
}

.user-name {
    width: 361px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    margin-bottom: 15px;
    border:0;
    padding-left: 15px;
}
.user-email{
    width: 361px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    margin-bottom: 15px;
    border: 0;
    padding-left: 15px;
}
textarea{
    border: 0;
    padding-left: 15px;
    padding-top:7px ;
}